
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primitives Tokens  */
    --clr-white: rgb(255, 255, 255);
    --clr-dark-grey: rgb(26, 26, 26);
    /* Sementics Tokens */
    --foreground: var(--clr-dark-grey);
    --background: var(--clr-white);

    --radius: 0.5rem;
    --gap: 1rem;

    
    
  }
}
